<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/adminpagestyle/styleadmin.css}">
    <title>Admin Management</title>
</head>

<body>

<header class="navbar">

    <div class="left-navbar">
        <img class="perfil" src="../../static/perfil.png" th:src="@{/perfil.png}" >

        <div class="admin-info">
            <h1>Admin Painel</h1>
            <p>Management System</p>
        </div>
    </div>

    <div class="right-navbar">
        <a th:href="@{/logout}" class="logout-btn">Logout</a>
    </div>

</header>

<!-- MENU -->
<nav class="admin-options">
    <a href="">Dashboard</a>
    <a href="">Users</a>
</nav>

<div class="dashboard">
    <div class="card">
        <p>Transações hoje</p>
        <h2 th:text="${dashboard.transactionToday}">0</h2>
    </div>
    <div class="card">
        <p>Volume financeiro</p>
        <h2 th:text="${dashboard.volumeFinanceToday}">0</h2>
    </div>
    <div class="card">
        <p>Contas ativas</p>
        <h2 th:text="${dashboard.accountActive}">0</h2>
    </div>
    <div class="card">
        <p>Contas bloqueadas</p>
        <h2 th:text="${dashboard.accountBlocked}">0</h2>
    </div>
</div>

</body>
</html>