<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/adminpagestyle/styleadmin.css" th:href="@{/styleadmin.css}">
    <title>Admin Management</title>
</head>

<body>

<header class="navbar">

    <div class="left-navbar">
        <img class="perfil" src="../../static/perfil.png" th:href="@{/perfil.png}" >

        <div class="admin-info">
            <h1>Admin Painel</h1>
            <p>Management System</p>
        </div>
    </div>

    <div class="right-navbar">
        <a th:href="index.html" class="logout-btn">Logout</a>
    </div>

</header>

<!-- MENU -->
<nav class="admin-options">
    <a th:href="">Dashboard</a>
    <a th:href="">Users</a>
    <a th:href="">Products</a>
    <a th:href="">Orders</a>
</nav>

</body>
</html>