<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinancialBank - Login</title>
</head>
<body>

<div class="Logo">
    <h1>FinancialBank</h1>
</div>

<div class="cadastro">
    <h1>Login</h1>

    <label class="label-login">Usuário</label>
    <input type="text" placeholder="Digite seu usuário">

    <label class="label-senha">Senha</label>
    <input type="password" placeholder="Digite sua senha">

    <button class="btn-entrar" onclick="fa">Entrar</button>
</div>

</body>
</html>